/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/*               End of Setup             */


/*                  Font                  */
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}

body {
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*                  Font                  */


html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  padding: 0 20%;
  background-color: rgba(0, 0, 0, 0.8);
  align-content: center;
  color: #cccccc;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

header ul {
  align-items: center;
}


.heroPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  height: 600px;
  background-image: url(images/hero_iphone_13pro.jpg);
  background-position: center;
}

.hero,
h1 {
  font-size: 50px;
}

.hero,
h2 {
  font-size: 25px;
}

.subHero {
  margin: 15px 0 0;
  display: flex;
  gap: 2px;
}


.subHero div {
  display: flex;
  width: 25%;
  height: 200px;
  background-position: center;
}

.subPic1 {
  background-image: url(images/macbook_large.jpg);
}

.subPic2 {
  background-image: url(images/ipad_pro_large.jpg);
}

.subPic3 {
  background-image: url(images/watch_large.jpg);
}

.subPic4 {
  background-image: url(images/accessories_large.jpg);
}


.subHero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

.subHero2 a {
  color: #08c;
  font-weight: 400;
  font-size: large;
}


footer {
  padding: 20px 20%;
  color: #666;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.footerContent1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

footer div ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  gap: 8px;

}


.ulDouble {
  margin: 0 0 30px;
}

.liBold {
  color: #333;
  font-weight: 600;
}


.footerContent2 {
  display: flex;
  flex-direction: column;
  color: #999;
}


.cop {
  display: flex;
  justify-content: space-between;
}

#cop1 {
  display: flex;
  gap: 20px;
}

#cop1 a {
  padding: 0 10px;

}

#border1 {
  border-left: 1px #d6d6d6 solid;
}

#border2 {
  border-right: 1px #d6d6d6 solid;
  border-left: 1px #d6d6d6 solid;
}

hr {
  width: 100%;
  border-top: 1px #e3e3e3 solid;
  margin: 8px 0;
}

#usFooter {
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
}




.footerContent2Link {
  color: #08c;
}

.cop a {
  color: #666;
}

.productName {
  font-weight: 600;
  font-size: 2em;
}

.productText {
  font-size: 500;
}

.productLinks {
  display: flex;
  gap: 20px;
  font-weight: 300;
}

.productLinks a {
  color: #08c;
}

.productLinks a:hover {
  color: black;
}


.subHero2 a {
  font-weight: 400;
  color: #08c;
}


header a {
  color: #cccccc;
}

header a:hover {
  text-decoration: none;
  opacity: 50%;
  color: #cccccc;
  transition: 0.3s;
}

.footerContent1 a {
  color: #666;
}